AddressFamily inet
Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms diffie-hellman-group14-sha1
SyslogFacility AUTHPRIV

PermitRootLogin no
MaxAuthTries 3
MaxSessions 5

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
HostbasedAuthentication no
IgnoreRhosts yes
PermitEmptyPasswords no
PasswordAuthentication yes
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

UsePAM yes
X11Forwarding yes
X11UseLocalhost no
TCPKeepAlive yes
UsePrivilegeSeparation sandbox
PermitUserEnvironment no
ClientAliveInterval 900
ClientAliveCountMax 0
UseDNS no
MaxStartups 10:50:30
PermitTunnel no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

Subsystem sftp internal-sftp
#Subsystem sftp    /usr/libexec/openssh/sftp-server
KbdInteractiveAuthentication yes
Ciphers aes256-ctr
compression no

MACs hmac-sha2-256
RekeyLimit 1G
